.product-carousel {
  &__image {
    margin-bottom: 12px;
    img {
      margin: 0 auto;
    }
  }

  &__item {
    padding: 8px;
    &-wrapper {
      padding: 8px;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid rgb(217, 217, 217);
      box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
    }
    &-title {
      display: inline-block;
      margin-bottom: 12px;
      height: 44px;
      overflow: hidden;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-price {
      min-width: 90px;
      text-align: end;
    }
  }
}
